.header {
    z-index: 2;
    opacity: 0.8;
}


.brand-name {
    color: white;
    font-size-adjust: auto;
}

.drop:hover {
    background: lightgrey;
}

a {
    font-size: 18px;
}

.top_h {
    width: 100%;
    height: 50px;
}

.col_imag {
    margin: auto;
}

.img_container {
    margin: auto;
}


.box1 {
    padding: 12px;
    background-color: lightgray;
}
